.topbar {
    width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  background: #ffffff;
  border-bottom: 1px solid #ddd;
  gap: 30px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  height: 110px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.header-text {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Outfit', sans-serif;
  line-height: normal;
  text-transform: uppercase;
  padding: 7.5px 15px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.3s ease;
  white-space: nowrap;
}

.user {
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

.shop-categories {
  display: flex;
  gap: 10px;
}

.header-text:hover {
  border-bottom-color: #000000;
}

.logo img {
  height: 40px;
  margin-right: 8px;
  margin-left: 50px;
  height: 80px;
}

.search-box {
  flex: 1;
  display: flex;
  margin: 0 24px;
}

.search-box input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
}

.search-box button {
  padding: 8px 12px;
  background: #2874f0;
  color: white;
  border: none;
}

.actions {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
  margin-right: 40px;
}

.cart {
  position: relative;
  cursor: pointer;
}

.count {
  background: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
  position: absolute;
  top: -12px;
  right: -6px;
}

.left-bar {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 36px;
}

.search {
    width: 100%;
    max-width: 600px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f6f5f4;
    box-sizing: border-box;
    border-radius: 200px;
    border: 1px solid #00000014;
    height: 56px;
    padding: 15px 15px 15px 25px;
}

.input-search {
    appearance: none;
    font-size: 16px;
    color: var(--text-color-regular);
    padding: 15px;
    border: none;
    background: none;
    cursor: text;
    height: 100%;
    flex-grow: 1;
    width: 100%;
    outline: none;
}

.search-icon {
    display: block;
    fill: "";
    width: 24px;
    height: 24px;
}