.main {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 55px;
}

.image {
    width: 751px;
    height: 500px;
    object-fit: contain;
    aspect-ratio: 1;
    margin-left: 55px;
    border: 1px solid #f0f0f0;
}

.checked {
    color: white;
    margin: 2px 0 0 2px;
    height: 10px;
}

.top-content {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 16px;
}

.rating {
    background-color: #388e3c;
    border-radius: 3px;
    color: #fff;
    width: fit-content;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    padding: 2px 4px 2px 6px;
    vertical-align: middle;
    font-family: "Open sans", sans-serif;
}

.product-text {
    font-size: 28px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.price-text {
    font-family: "Outfit", sans-serif;
    font-size: 28px;
    vertical-align: sub;
    color: #212121;
    display: inline-block;
    font-weight: 500;
}

.discount-text {
    display: inline-block;
    font-family: "Outfit", sans-serif;
    color: #878787;
    font-size: 16px;
    margin-left: 12px;
    vertical-align: middle;
    text-decoration: line-through;
}

.product-description {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 5px 8px 8px;
}

.discount {
    color: #388e3c;
    font-size: 16px;
    font-weight: 600;
    margin-left: 12px;
    vertical-align: middle;
}