<div class="main">
    <div class="top-content">
        <div>
            <img src="https://res.cloudinary.com/domh7dyrw/image/upload/v1766069849/nuvvula-karam_gstpqw.webp" class="image">
        </div>
        <div class="product-description">
            <div class="product-text">Nuvvula Karam</div>
            <span class="price-text">₹190<span class="discount-text">₹250</span> <span class="discount">17% off</span></span>
            <span class="rating">
                <span>4.0</span>
                <span class="fa fa-star checked"></span>
            </span>
        </div>
    </div>
</div>