<div class="main">
    <div class="main-wrapper">
        <form class="login-card">
            <div class="login-text">Login</div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required />
            </div>
            <div class="form-group">
                <button type="submit" class="login-button">Sign In</button>
                <button type="button" class="register-button">Register</button>
            </div>
        </form>
    </div>
</div>