.main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-bar {
    width: 100%;
    height: 100%;
}

.right-bar {
    width: 100%;
    height: 100%;
}

.image {
    width: 250px;
    height: 167px;
    object-fit: contain;
    aspect-ratio: 1;
    border-radius: 8px 8px 0px 0px;
}

.product-card {
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    transition: transform 0.2s;
    cursor: pointer;
}

.product-card:hover {
    transform: scale(1.05);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.discount-text {
    display: inline-block;
    margin-left: 8px;
    color: #878787;
    font-size: 14px;
    text-decoration: line-through;
    font-family: "Open Sans", sans-serif;
}

.checked {
    color: orange;
    margin-right: 4px;
}

.price-text {
    font-size: 18px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

.product-text {
    font-size: 16px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;

}

.product-description {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 5px 8px 8px;
}