.main {
    width: 100%;
    height: calc(100% - 110px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    box-sizing: border-box;
}

.label-text {
    font-family: var(--primary-font);
    font-size: 14px;
    color: #878787;
}

.common-text-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.left-bar {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.right-bar {
    width: 100%;
    height: 100%;
}

.image {
    width: 250px;
    height: 167px;
    object-fit: contain;
    aspect-ratio: 1;
    border-radius: 8px 8px 0px 0px;
}

.product-card {
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    transition: transform 0.2s;
    cursor: pointer;
}

.product-card:hover {
    transform: scale(1.05);
}

.filter-text {
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 600;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.chip {
    padding: 8px 16px;
    background-color: #e0e0e0;
    border-radius: 16px;
    font-family: var(--primary-font);
    font-size: 14px;
    margin-bottom: 6px;
    display: block;
    cursor: pointer;
}

.filter-section {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
    font-family: var(--primary-font);
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
}

.filter-header {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.clear-all {
    font-size: 12px;
    margin-left: auto;
    color: #878787;
    cursor: pointer;
}

.discount-text {
    display: inline-block;
    margin-left: 8px;
    color: #878787;
    font-size: 14px;
    text-decoration: line-through;
    font-family: var(--primary-font);
}

.checked {
    color: orange;
    margin-right: 4px;
}

.price-text {
    font-size: 18px;
    font-weight: 600;
    font-family: var(--primary-font);
}

.product-text {
    font-size: 16px;
    font-weight: 500;
    font-family: var(--primary-font);

}

.product-description {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 5px 8px 8px;
}