.main {
    width: 100%;
    height: 100%;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    background: linear-gradient(#d7d7d7, #b7b7b7);
    border-radius: 6px;
}

::ng-deep .mat-mdc-paginator-container {
    background: linear-gradient(#d7d7d7, #b7b7b7) !important;
}