* {
    font-family: 'Open Sans', sans-serif;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
}

.login-text {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 12px;
    border: 1px solid #ccc;
    outline: 0;
}

.login-button {
    padding: 10px;
    background-color: #2874f0;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.register-button {
    padding: 10px;
    background-color: #f0f0f0;
    color: #333;
    border: none;
    cursor: pointer;
}