* {
    user-select: none;
}

.main {
    width: 100%;
    height: calc(100% - 110px);
    display: flex;
    justify-content: start;
    align-items: center;
}

.image-section {
    display: flex;
    flex: 1;
    position: sticky;
    top: 110px;
}

.main-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.image {
    position: inherit;
    width: 750px;
    height: 500px;
    object-fit: contain;
    aspect-ratio: 1;
    margin-left: 55px;
    border: 1px solid #f0f0f0;
}

.checked {
    color: white;
    margin: 2px 0 0 2px;
    height: 10px;
}

.reviews {
    color: #878787;
    font-weight: 400;
    padding-left: 8px;
}

.rating-reviews {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top-content {
    width: 100%;
    margin-top: 55px;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.rating {
    background-color: #388e3c;
    border-radius: 3px;
    color: #fff;
    width: fit-content;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    padding: 2px 4px 2px 6px;
    vertical-align: middle;
    font-family: var(--primary-font);
}

.product-text {
    font-size: 28px;
    font-family: var(--primary-font);
    font-weight: 500;
    text-transform: uppercase;
}

.price-text {
    font-family: "Outfit", sans-serif;
    font-size: 28px;
    vertical-align: sub;
    color: #212121;
    display: inline-block;
    font-weight: 500;
}

.discount-text {
    display: inline-block;
    font-family: "Outfit", sans-serif;
    color: #878787;
    font-size: 16px;
    margin-left: 12px;
    vertical-align: middle;
    text-decoration: line-through;
}

.product-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 5px 8px 8px;
}

.discount {
    color: #388e3c;
    font-size: 16px;
    font-weight: 600;
    margin-left: 12px;
    vertical-align: middle;
}

.weight-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}

.weight-btn-container {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.weight-button {
    padding: 8px 16px;
    border: 2px solid #e0e0e0;
    font-weight: 600;
    border-radius: 2px;
    cursor: pointer;
    font-family: var(--primary-font);
}

.weight-button:hover {
    border: 2px solid #212121;
    font-weight: 600;
}

.inactive-btn {
    color: #787a7ce6;
    background-color: #0000000d;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.active-btn {
    background: #000000;
    color: #ffffff;
    border: 2px solid #000000;
}

.common-btn {
    color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dddede;
    border-radius: 0;
    height: 40px;
    width: 40px;
    min-width: 40px;
    line-height: 38px;
    transition: color .1s, border-color .1s, opacity .1s;
    cursor: pointer;
}

.common-btn:hover, .input-btn:hover {
    border: 1px solid #404040;
    color: #000;
}

.input-btn {
    width: 40px;
    padding: 0;
    height: 40px;
    font-size: 13px;
    color: #404040;
    border: 1px solid #dddede;
    border-radius: 0;
    text-align: center;
    outline: 0;
}

.quantity-text {
    font-size: 16px;
    font-family: var(--primary-font);
}

.add-remove-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.shipping-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.quantity-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}

hr {
    border: 0;
    border-top: 1px solid;
    border-top-color: var(--colorBorder);
    height: 1px;
}

.shipping-text {
    font-size: 14px;
    color: #212121;
    margin-top: 8px;
    white-space: nowrap;
    font-family: var(--primary-font);
}

.weight-text {
    font-size: 14px;
    color: #212121;
    font-family: var(--primary-font);
}

.add-to-buy-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 24px;
}

.add-to-cart-btn {
    text-align: center;
    width: 100%;
    padding: 15px 25px;
    font-size: 15px;
    background: #fff;
    color: #212b36;
    border: 1px solid;
    font-family: var(--primary-font);
    cursor: pointer;
    transition: background-color .1s, color .1s, border-color .1s, opacity .1s;
    text-transform: uppercase;
}

.add-to-cart-btn:hover {
    background-color: #212b36;
    border: 1px solid #212b36;
    color: #fff;
    transition: background-color .1s, color .1s, border-color .1s, opacity .1s;
}

.buy-now-btn {
    width: 100%;
    background: #000000;
    border: 1px solid #000000;
    color: #fff;
    font-size: 13px;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    line-height: 1em;
    height: auto;
    margin: 0;
    text-decoration: none !important;
    cursor: pointer;
    padding: 1.2em 25px;
    vertical-align: middle;
    text-align: center;
    border-radius: 0;
    transition: background-color .1s, color .1s, border-color .1s, opacity .1s;
    display: inline-block;
    font-family: Jost, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .08em;
    text-transform: uppercase;
    -webkit-tap-highlight-color: transparent;
}

.buy-now-btn:hover {
    background-color: #c16452;
    border: 1px solid #c16452;
    transform: translateY(0);
    transition: transform .5s cubic-bezier(.25,.46,.45,.94);
}

.product-details-text {
    color: #787a7c;
    font-family: var(--primary-font);   
}

.image-row {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 16px;
}

.image-payment {
    width: 100px;
}

.payment-desc {
    font-size: 18px;
    color: #212121;
    margin-top: 8px;
    font-family: var(--primary-font);
    text-align: center;
}

.whatsapp, .facebook, .twitter {
    max-width: 120px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: solid 1px #ccc;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 11px;
    height: 32px;
    line-height: 32px;
    margin-right: 8px;
    padding: 0 8px;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    min-width: 120px;
}

.icon {
    width: 16px;
    height: 16px;
    margin-left: 8px;
}

.whatsapp-share {
    font-size: 16px;
    color: #25d366;
    padding: 0 14px;
    font-family: var(--primary-font);


}

.facebook-share {
    font-size: 16px;
    color: #4267B2;
    padding: 0 14px;
    font-family: var(--primary-font);

}

.twitter-share {
    font-size: 16px;
    color: #000000;
    padding: 0 14px;
    font-family: var(--primary-font);
}

.share-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 24px;
}

.share-text {
    font-size: 16px;
    font-family: var(--primary-font);
    font-weight: 600;
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.rating-text {
    padding: 24px 0 0 24px;
    color: #212121;
    font-family: var(--primary-font);
}

.text {
    font-size: 32px;
    font-family: var(--primary-font);
}

.progress-bar {
    height: 20px;
    padding: 1px 0 0;
}

.image-div {
    width: 100%;
    position: static;
}

.rating-summary {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    justify-content: space-around;
    padding: 24px;
}

.checked-orange {
    color: orange;
    margin-left: 4px;
}

.review-card {
    display: flex; 
    flex-direction: column; 
    gap: 12px; 
    padding: 24px;
    border-top: 1px solid #f0f0f0;
}

.user-icon {
    float: left;
    position: relative;
    margin-right: 8px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background-color: rgba(160, 185, 184, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.user-text {
    color: #000000;
    font-size: 20px;
    font-family: var(--primary-font);
}

.review-description {
    font-size: 16px;
    color: #424242;
    font-family: var(--primary-font);
    margin-top: 10px;
}

.user-div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.rating-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.review-btn {
    background: #000;
    padding: 8px 16px;
    font-family: var(--primary-font);
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.progress {
    background: #f0f0f0;
    margin-left: 7px;
    margin-top: 7px;
    border-radius: 100px;
    height: 5px;
    width: 120px;
}

.reviews-count {
    color: #878787;
    font-size: 12px;
    padding: 0 5px 0 12px;
    font-family: Inter,-apple-system,Helvetica,Arial,sans-serif;
}

.common-progress {
    height: 100%;
    border-radius: 50px;
    display: flex;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 12px;
}

.rating-content {
    display: flex; 
    align-items: center;
    padding: 0px 12px;
    border-left: 1px solid rgba(16,132,116,0.1);
    border-right: 1px solid rgba(16,132,116,0.1);
    border-color: rgba(0,0,0,0.1);
}