.main {
    width: 100%;
    height: 100%;
}

.header {
    background: #40608f;
    color: #fff;
    font-size: 16px;
    padding: 20px;
}

.content {
    padding: 20px;
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
    border-radius: 4px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.common-form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}