<div class="main">
    <a routerLink="/dashboard/create-product" class="inline-block cursor-pointer items-center justify-center rounded-xl border-[1.58px] border-zinc-600 bg-zinc-950 px-5 py-3 font-medium text-slate-200 hover:shadow-xl">
        Create Product
    </a>
    
    <div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default">
            <table class="w-full text-sm text-left rtl:text-right text-body">
                <thead class="text-sm text-body bg-neutral-secondary-medium border-b border-default-medium">
                    <tr>
                        <th scope="col" class="px-6 py-3 font-bold">
                            Id
                        </th>
                        <th scope="col" class="px-6 py-3 font-bold">
                            Name
                        </th>
                        <th scope="col" class="px-6 py-3 font-bold">
                            Category
                        </th>
                        <th scope="col" class="px-6 py-3 font-bold">
                            Price
                        </th>
                        <th scope="col" class="px-6 py-3 font-bold">
                            Status
                        </th>
                        <th scope="col" class="px-6 py-3 font-bold">
                            CreatedAt
                        </th>
                        <th scope="col" class="px-6 py-3 font-bold">
                            ModifiedAt
                        </th>
                        <th scope="col" class="px-6 py-3 font-bold">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-neutral-primary-soft border-b border-default hover:bg-neutral-secondary-medium"
                     *ngFor="let product of products">
                        <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                            {{product.id}}
                        </th>
                        <td class="px-6 py-4">
                            {{product.name}}
                        </td>
                        <td class="px-6 py-4">
                            {{product.productCategory?.name}}
                        </td>
                        <td class="px-6 py-4">
                            {{product.price}}
                        </td>
                        <td class="px-6 py-4">
                            {{product.status}}
                        </td>
                        <td class="px-6 py-4">
                            {{product.createdAt | date:'dd-MM-yyyy'}}
                        </td>
                        <td class="px-6 py-4">
                            {{product.modifiedAt | date:'dd-MM-yyyy'}}
                            
                        </td>
                        <td class="flex items-center px-6 py-4">
                            <div style="margin-right: 10px;" class="text-white bg-sky-600 font-medium text-fg-brand p-2 rounded cursor-pointer" (click)="uploadImage()">Upload</div>
                            <div class="text-white bg-green-600 font-medium text-danger p-2 rounded cursor-pointer" (click)="viewImage()">View</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>