<div class="main-footer">
    <div class="main-wrapper">
        <div class="common-container">
            <h2 class="header-text">Contact Us</h2>
            <div class="sub-container">
                <div class="common-text">Amaravathi Ethnics Private Limited <br>
                    Plot No 455, 100 Feet Rd, <br>
                    Ayyappa Society, Chanda Naik Nagar, <br>
                    Madhapur, Hyderabad, <br>
                    Telangana 500081</div>
                <div class="common-text" style="margin-top: 10px;">Mobile: 7569674942</div>
            </div>
        </div>
        <div class="common-container">
            <h2 class="header-text">Information</h2>
            <ul class="sub-container">
                <li><a href="" class="common-text">Shipping Policy</a></li>
                <li><a href="" class="common-text">Terms & conditions</a></li>
                <li><a href="" class="common-text">Privacy Policy</a></li>
                <li><a href="" class="common-text">Return Policy</a></li>
            </ul>
        </div>
        <div class="common-container">
            <h2 class="header-text">Follow Us</h2>
            <div class="sub-container">
                <ul class="sub-container">
                    <li><a href="" class="common-text">Facebook</a></li>
                    <li><a href="" class="common-text">Instagram</a></li>
                    <li><a href="" class="common-text">Twitter</a></li>
                    <li><a href="" class="common-text">Whatsapp</a></li>
                </ul>
            </div>
        </div>
        <div class="common-container">
            <h2 class="header-text">Newsletter</h2>
            <div class="sub-container">
                <div class="common-text" style="border-bottom: 0;">Subscribe for exclusive offers, original stories, <br>
                    upcoming events and more.</div>
            </div>
            <input type="text" class="subscribe-input"/>
            <div class="subscribe-btn">Subscribe</div>
        </div>
    </div>
</div>