.main-footer {
    width: 100%;
    height: 100%;
    border-top: 1px solid #e0e0e0;
    background: #f4dfdb;
}

.main-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px 30px;
}

.header-text {
    margin: 0;
    font-family: var(--primary-font);
    font-weight: 400;
}

.common-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 30px;
}

.common-text {
    color: #000;
    font-family: var(--primary-font);
    line-height: 30px;
    text-decoration: none;
    padding-bottom: 3px;
}

.common-text:hover {
    border-bottom: 1px solid #212121;
}

.sub-container {
    padding: 0;
    list-style: none;
    margin: 0;
}

.subscribe-btn {
    color: #fff;
    width: fit-content;
    padding: 10px 20px;
    font-family: var(--primary-font);
    font-size: 18px;
    text-align: center;
    background: #000;
    cursor: pointer;
    text-transform: uppercase;
}

.subscribe-input {
    font-size: 16px;
    line-height: 15px;
    font-family: Jost, sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #fff;
    color: #787a7c;
    border: 1px solid #dddede;
    padding: .8em 15px;
    margin: 0;
    vertical-align: middle;
    max-width: 100%;
    border-radius: 0;
    -webkit-appearance: none;
    box-sizing: border-box;
}

.subscribe-input:focus-visible {
    outline: 1px solid #212121;
}